*{
	/*CSS Reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*setting font family*/
	font-family: "open sans", sans-serif;
}

/*navbar*/
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}
nav > ul{
	list-style-type: none;
}
nav li{
	margin: .5rem;
	display: inline-block;
	/*sets the vertical alignment in the middle*/
	vertical-align: middle;

}
/*,-multiple selector; used to select multiple selectors with different type/class/id*/

/*nav #nav-logo, nav.nav{*/

/*the devs have the freedom to separate the brand logo*/
nav li{
	margin: .5rem;
	display: inline;
}

/*intro section*/

#intro{
	/*using % in margin or padding will use n% of the screen size as its margin or padding*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2, #intro >p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - changes the thickness of the text element*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}
/*info section*/
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#info > h2{
	margin-bottom: 1rem;
}

#info > .card{
	border: 1px solid black;
	display: inline-block;
	/*using % for width will consume n% of the user screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*aligns the card elements at the top of their line*/
	vertical-align: top;
	/*min-height - sets the minimum height for the content if it doesn't reach the target height*/
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}
/*prefooter*/
/*Add a CSS rule for the pre-footer section to create space for the content, change the background and text color.*/
#prefooter{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
	background-color: #002080;
	color: white;
}
/*Add a CSS rule for the div tags to align the elements horizontally.
	Add a CSS rule for the all elements inside the div tags to create space between them vertically.*/
.activity{
	display: inline-block;
	width: 20%;
	margin-left: .5rem;
	margin-right: .5rem;
	margin: 10px;
	padding: 5px;
	vertical-align: top;
	min-height: 100px;
	line-height: 1.5;
}

div > ul{
	list-style-type: none;

}

/*footer*/
footer{
	padding: .8rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}